.slds-notify_container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
  }
  
  /* customToast.css */
.slds-notify_toast {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
